body {
    background-color: cornsilk;
    font-family: sans-serif;
  }
  
  #main {
  }
  
  #title {
    font-size: 60px;
  }
  
  #sub-title {
    font-size: 30px;
  }
  
  .h1-p-figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  #img-div {
    width: 900px;
    height: 550px;
    padding: 10px;
    background-color: coral;
  }
  
  #image {
    max-width: 100%;
    height: auto;
    display: block;
    padding-bottom: 15px;
  }
  
  h2 {
    text-align: center;
  }
  
  #tribute-info-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  #tribute-info {
    width: 45%;
  }
  
  #tribute-info-2 {
    width: 45%;
  }
  
  #link-paragraph {
      text-align: center;
      font-size: 18px;
  }
  
  #tribute-link {
  }
  
  #tribute-link:hover {
    background-color: burlywood;
    color: black;
  }
  
